/* Universal Styles */

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0 auto;
    max-width: 950px;
    padding: 0 16px;
}

/* Header Styles */

header {
    display: flex;
    align-items: center;
}

nav {
    margin: 0 2em;
}

.nav-item {
    margin-right: .5em;
    text-decoration: none;
}